body{
    margin:0;
    padding:20px;
    font-family:Arial,sans-serif;
    background:#f4f7fb;
    color:#222;
    line-height:1.8;
}

.chapter{
    max-width:900px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}
h1{
    background:#6c2bd9;
    color:white;
    padding:18px;
    border-radius:10px;
    text-align:center;
}

h2{
    color:#0f766e;
    border-left:6px solid #0f766e;
    padding-left:10px;
    margin-top:30px;
}

h3{
    color:#2563eb;
    margin-top:25px;
}

p{
    margin:15px 0;
    text-align:justify;
}

ul{
    margin-left:20px;
}

li{
    margin:8px 0;
}

b{
    color:#d97706;
}
