body{
    background:#000;
    color:#fff;
    font-family:Arial,sans-serif;
    font-size:22px;
    line-height:2;
    max-width:900px;
    margin:auto;
    padding:25px;
}

h1{
    font-size:38px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    margin-bottom:25px;
}

h2{
    font-size:30px;
    font-weight:bold;
    color:#fff;
    border-bottom:2px solid #fff;
    padding-bottom:10px;
    margin-top:30px;
}

p{
    font-size:22px;
    text-align:justify;
    margin-bottom:20px;
}

a{
    color:#4da3ff;
    text-decoration:none;
    font-weight:bold;
}
